@import "./main.css";
@import "./styles/register-login.css";
@import "./styles/navbar.css";
@import "./styles/aside.css";
@import "./styles/searchbar.css";
@import "./styles/header.css";
@import "./styles/product.css";
@import "./styles/products.css";

@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

:root {
  --main-color: #f1431d;
  --secondary-color: #131e41;
  --secondary-color-dull: #8e919a;
  --background-color: #f5f6f8;
  --input-border-color: #d2d5d8;

  --button-width: 200px;
  --navbar-height: 72px;

  --hover-transform: scale(1.1);
  --effective-transition-duration: 0.3s;

  --navbar-z-index: 9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body {
  background: var(--background-color);
  overflow-x: hidden;
}

.content_wrapper{
  padding-inline: 20px;
}
.container {
  max-width: 728px;
  margin-inline: auto;
}
