.navbar {
  position: relative;
  width: 100%;
  padding-block: 24px;
}

.navbar_header {

  display: flex;
  justify-content: space-between;
}
.navbar_header::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100vw;
  height: 2px;
  background-image: repeating-linear-gradient(
    to right,
    var(--secondary-color),
    var(--secondary-color) 8px,
    transparent 8px,
    transparent 12px
  );
}

.navbar_menu {
  background-image: url(/menus.png);
}
.navbar_menu:hover{
  transform: var(--hover-transform);
  transition-duration: var(--hover-transition-duration);
}